.App {
  display: flex;
  align-items: center;
  background-color: gray;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

.gameBoard{
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameContainer{
  border: red solid 2px;
  width: 70rem;
  height: 45rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gamePiece{
  width: 10rem;
  height: 10rem;
  border: green 2px solid;
  margin: 1.8rem;
}

