.App {
  display: flex;
  align-items: center;
  background-color: gray;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

.gameBoard{
  width: 100vw;
  background-color: White;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameContainer{
  border: black 1px solid;
  width: 81rem;
  height: 49rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0A3665;
  border-radius: 5px;
}

.gamePiece{
  width: 12rem;
  height: 11rem;
  border: black solid 4px;
  margin: 1.8rem;
  float: left;
  background-color: white;
  border-radius: 3px;
  border: solid black 4px;
  cursor: pointer;
}

.gamePiece:hover{
  border: solid  #ED184B 4px;
}

.score{
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Helvetica;
}

.logo{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  height: 10rem;
  background-color: #0055A4;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: black 1px solid
}

.nbaLogo{
  width: 10rem;
  height: 5rem;
  margin-left: 2rem;
}

h1{
  font-family: Helvetica;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #136BB7;
  margin-right: 2rem;
  font-size: 4.5rem;
  letter-spacing: -7px;
  font-stretch: expanded;
  transform: scaleY(1.2);
  margin-top: 60px;
}

.scoreBoard{
  background-color: #ED184B;
  width: 10rem;
  height: 3rem;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
  border: black 3px solid
}

.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
  border: black 2px solid
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
  margin-left: 20rem;
  background-color: #ED184B;
  color: white;
  width: 8rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 3px;
  border: black 2px solid;
}

.trigger_popup_fricc:hover{
  border: white 2px solid;
}

p{
  font-family: Helvetica;
  font: 500;
}